{{comment.title}} - {{comment.date}} - {{comment.author}} - {{comment.text}}
<br>
<br>
{{update-comment comment=comment update="update"}}
<button class="btn btn-danger btn-xs" {{action 'delete' comment post}}>Delete</button>
<hr>
