{{#if updateCommentForm}}
  <div class="boxed">
    <h1>New Comment</h1>
    <form>
      <div class="form-group">
        <label for="update-title">Title</label>
        {{input value=update-title id="update-title" placeholder=comment.title}}
      </div>
      <div class="form-group">
        <label for="update-date">Date</label>
        {{input value=update-date id="update-date" placeholder=comment.date}}
      </div>
      <div class="form-group">
        <label for="update-author">Author</label>
        {{input value=update-author id="update-author" placeholder=comment.author}}
      </div>
      <div class="form-group">
        <label for="update-text">Text</label>
        {{input value=update-text id="update-text" placeholder=comment.text}}
      </div>
      <button class="btn btn-default" {{action 'update' comment}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-default btn-xs" {{action 'updateCommentForm'}}>Update</button>
{{/if}}
